@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("common.css");

:root {
    --color1: #ffa17a;
    --color2: #28b463;
    --color3: #f1c40f;
    --color4_yt_background: #081b29;
    --color5: #e74c3c;
    --blackish: #17202a;
    --my-green: #1abc9c;
    --my-green-hover: #159d82;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ebf5fb;
}

.wrapper {
    position: relative;
    width: 750px;
    height: 800px;
    background: transparent;
    border: 2px solid var(--blackish);
    overflow: hidden;
    /*box-shadow: 0 0 25px var(--color1);*/

    background-color: var(--my-green);
    border-radius: 20px;
}

.wrapper .form-box.register {
    display: flex;
    justify-content: center;
    padding: 20px 40px 20px 40px;
}

.wrapper .form-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-box h2 {
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 60%;
    height: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    transition: 0.5s;

    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-right: 23px;
}

.input-box input:focus,
.input-box input:valid {
    border-bottom-color: var(--color1);
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    color: var(--color1);
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    transition: 0.5s;
}
.input-box input:focus ~ i,
.input-box input:valid ~ i {
    color: var(--color1);
}

.arr_buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    position: relative;
    width: 50%;
    height: 45px;
    background: transparent;
    border: 2px solid var(--color1);
    outline: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 16px;
    color: var(--blackish);

    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    background: var(--color1);
    margin-top: 30px;
}

.genders {
    font-size: 30px;
    display: flex;
    margin-bottom: 20px;
}

.users {
    font-size: 20px;
}

.form-box .fp {
    font-size: 14.5px;
    color: var(--color1);
    text-align: left;
    margin-top: 5px;
}
.fp p a {
    color: var(--color1);
    text-decoration: none;
    font-size: small;
    font-weight: 500;
}

.fp p a:hover {
    text-decoration: underline;
    color: var(--color1);
}

label,
textarea {
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    flex-direction: row;

    margin-left: 20%;
    margin-top: 1%;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-container label {
    color: #fff;
    font-size: 16px;
    display: inline;

    vertical-align: middle;
    padding-top: 10px;
}
